# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Data (usually too large for Git)
data/

# OS files
.DS_Store

# Model / checkpoint files
*.pt
*.bin
*.safetensors

# Jupyter
.ipynb_checkpoints/